<h2>BEST PIZZAS</h2>

<h3>Add new pizza</h3>
<label for="pizzaName">Name</label> <br>
{{input value=pizzaName}} <br>
<br>
<label for="pizzaDescription">Description</label> <br>
{{input value=pizzaDescription}}  <br><br>

<button {{action "addPizza"}}>Add pizza</button>

<ol>
  {{#each model as |pizza|}}
      <li>
        {{#if (eq (concat "" editingId) (concat "" pizza.id))}}
          <button {{action 'reloadPizza' pizza}}>X</button>
          {{input value=pizza.name}}
        {{else}}
          {{#if (eq editingId)}}
            <button {{action 'deletePizza' pizza.id}}>-</button>
          {{/if}}
          {{pizza.name}} - {{pizza.description}} - {{pizza.id}} 
          {{#if (eq editingId)}}
            <button {{action 'editPizza' pizza.id}}>✐</button>
          {{/if}}
        {{/if}}
        {{#if (eq (concat "" editingId) (concat "" pizza.id))}}
          <button {{action 'updatePizza' pizza}}>Save</button>
        {{/if}}
      </li>
  {{else}}
      <em>No pizzas available</em>
  {{/each}}
</ol>