<h2>BEST PIZZAS</h2>

<h3>Add new pizza</h3>
<label for="pizzaName">Name</label> <br>
{{input value=pizzaName}} <br>
<br>
<label for="pizzaDescription">Description</label> <br>
{{input value=pizzaDescription}}  <br><br>

<button {{action "addPizza"}}>Add pizza</button>

<ol>
  {{#each model as |pizza|}}
      <li><button {{action "deletePizza" pizza.id}}>-</button> {{pizza.name}} - {{pizza.description}} - {{pizza.id}}</li>
  {{else}}
      <em>No pizzas available</em>
  {{/each}}
</ol>